
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
  <div class="container">
    
    <form 
      action="/display" 
      method="post" 
      enctype="multipart/form-data">
      
      <input 
        class="btn" 
        type="file" 
        id="file" 
        name="file" 
        />

      <button class="btn" type="submit"> Search  </button>
    </form>

    <div class="col-1">
      {% if publicImgUri == '' %}
      <img
        class="search-img "
        src="{{publicImgUri}}"
        alt="search-img"
      />
      {% elif publicImgUri %}
      <img class="search-img" src="{{publicImgUri}}" alt="search-img" />
      {% endif %}
    </div>

    <div class="row">
    <div class="col-2">
      {%for obj in object%}

      <div class="serch-item">
        <a href="{{obj}}" target="_blank">{{obj}}</a>
      </div>

      {%endfor%}
      <!--  -->
      {% if isEmpty == true %}

      <div class="no-result">
        There is no search result with uploaded image
      </div>
      {% endif %}
    </div>
  </div>
</body> 
</html>



